{% extends 'base.html.twig' %}

{% block title %}
Entreprises
{% endblock %}

{% block titre %}
Prostages
{% endblock %}

{% block menu %}
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link" href="{{path('index')}}">Accueil</a>
				</li>            
				<li class="nav-item">
					<a class="nav-link" href="formations">par formation</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="entreprises">par Entreprise</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block contenu %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail First" src="Ubisoft.jpg" />
						<div class="card-block">
							<h5 class="card-title">
								Ubisoft
							</h5>
							<p class="card-text">
							Notre entreprise vous propose de ....</p>
							<p>
								<a class="btn btn-primary" href="#">Consulter</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}